body {margin: 0 0; padding: 0 0; font-family:Verdana, Geneva, sans-serif; color: #000; font-size: 14px; background-color: #F2F2F2; }

a{color: #6488D5; text-decoration: none; border-style: none; color: #2D547D;
    &:hover {text-decoration: none; color: #6488D5;}}


@mixin box-shadow2($shadow) {
  -webkit-box-shadow: $shadow;
     -moz-box-shadow: $shadow;
          box-shadow: $shadow;
}

.content_all {max-width: 1600px; left: 0; right: 0; margin: auto;}

.head { display: table; position: relative; background-color: #2D547D; text-align: left; width: 100%;
	ul{display: table-row}
	li{display: table-cell;}
    @include box-shadow2(0 0 10px rgba(99,123,219,0.5));
}

.logo {display: inline-block; padding: 0 10px; width: 70px;
	img{width: 100%;}}

.logo_tit {position:absolute; top:14px; margin-left:10px; color: #fff}

.head_menu {position: relative; color: #fff; letter-spacing: 1px; margin: 4px 10px 4px 0;
a {display: inline-block; font-size: 13px; text-decoration: none; color: #fff; margin: 5px 10px;
		&:hover {color:#FFF3B8;}}}

h1 {font-size: 32px; margin: 0;}
h2 { font-size: 18px; font-weight: bold}
h4 {font-size: 21px; margin: 0;}
.note_er {color: #FF543F}

nav { margin: 30px 0; clear: both; text-align: center; font-size: 19px;
background-image: url(img/menu_lines.png); background-position: center; background-repeat: repeat-x;
	a { padding: 13px 0; color: #2D547D;}
	ul { width: 90%; display: table; left: 0; right: 0; margin: auto; padding: 0 0; list-style: none; background-color: #F2F2F2;}
	li { display: table-cell; vertical-align: middle; margin: 0 10px; padding: 0 20px; list-style: none; text-align: left; vertical-align: middle;}
    .active-it {color: black; font-weight: 100; font-weight: bold;}
	
	.menu_lines2 { width: 1px; height: 32px; padding: 0 0; border-right: 1px #c4ccd5 solid}
}

.content {position: relative; width: 90%; left: 0; right: 0; margin: auto; box-shadow: 0 0 10px rgba(0,0,0,0.3); background-color: #fff; padding: 0 0 20px 0; }

.cont_table {display: table; width: 100%;
	ul{display: table-row}
	li{display: table-cell; position: relative; vertical-align: top;}
	.left_cell {border-right: 1px #cadae8 solid; width:55%}
	
}

.cont_left { position: relative; width:100%;}

.cont_right { position: relative; width: 100%; padding: 0 25px 20px 25px;}

.padding {padding:  0 25px;}

.sticky { position: fixed; }

.stop1 {
  position: relative;
}


.line1 {height: 1px; background-color: #cadae8}

.table1 {display: table; width: 100%; font-size: 16px; color: #333333; border-collapse: collapse;
	ul{display: table-row; background: url(img/table1_row.png) bottom repeat-x;
	&:hover {background-color: #E1EFFA; background-image: none;}
		&:hover .ic_block {display: block}
	}
	li{display: table-cell; position: relative; padding:10px 10px; border: 1px #cadae8 solid; text-align: left; vertical-align: middle;}
	.thead { font-size: 17px; font-weight: 100; color: #2A6BA2; background-color: #fff; background-image: none; vertical-align: middle;
		li {padding: 17px 10px;}
		&:hover{background-color: #fff;}
	}
	.table_act {font-weight: bold; background-color: #E1EFFA; background-image: none;}
}

.table2 {@extend .table1; font-size: 13px; width: 100%;
	li {padding: 6px 6px;}
	.thead li {font-size: 13px; color: #fff; background-color: #2A6BA2; padding: 5px 5px;}
}

.table_foot {border-left: 1px #cadae8 solid; border-right: 1px #cadae8 solid; border-bottom: 5px #2A6BA2 solid; padding: 12px 15px;}

.ic_all { display: block; width: 40px; height: 40px; background-repeat: no-repeat; background-position: center; background-color: rgba(255, 255, 255, 0); transition: background-color 0.1s ease-in;
	&:hover {border: 1px #cadae8 solid; background-color: rgba(255, 255, 255, 1); transition: background-color 0.2s ease-in;}}


.ic_block {min-width: 85px; display: block}
.ic_block_small {min-width: 60px;}

.ic_edit {@extend .ic_all; float: left; background-image: url(img/icon_edit.svg); margin-right: 5px;}
.ic_del {@extend .ic_all; float: right; background-image: url(img/icon_del.svg)}

.ic_all_small {@extend .ic_all; width: 25px; height: 25px; background-size: contain}

.ic_edit_small {@extend .ic_all_small; float: left; background-image: url(img/icon_edit.svg); margin-right: 5px;}
.ic_del_small {@extend .ic_all_small; float: right; background-image: url(img/icon_del.svg)}


.checkbox_big {width: 30px; height: 30px;}

.formscont {
	div {margin: 0; padding: 7px;
	&:hover {background-color: #E1EFFA;}}
	p{margin: 0 0 2px 0; color: #2D547D; font-weight: bold; font-size: 12px;}
}
.form1 {font-size: 17px; padding: 8px 10px; width: 100%; border: 1px #cadae8 solid;}

.form1_search {position: absolute; font-size: 21px; color: #333333; height: 50px; width: 19%; top: 15px; right: 10px; margin: auto; padding: 5px 10px 5px 120px; border: 1px #ccc solid; transition: all 0.3s ease-in; background: #F5F5F5 url(img/search.svg) left 5px center no-repeat; border-radius: 3px;
	&:focus {outline: none; width: 97%; padding: 5px 10px 5px 55px; background-color: #fff; border-width: 3px; }}

.form1_right {@extend .form1_search; font-size: 18px; height: 38px; right: 0; top: 0; margin: 0; background-size: contain;
	&:focus{width: 100%; padding: 0 10px 2px 50px;}}









@media (max-width: 1350px) {
	
	.cont_table {display: table; width: 100%;
	ul{display: table-row}
	li{display: table-cell; position: relative; vertical-align: top;}
	.left_cell {border-right: 1px #cadae8 solid; width:50%}
		.right_cell {width: 100%}
}
	
	.table1 {display: table;
	ul{display: table-row;}
	li{display: table-cell; vertical-align: middle;}
	
}
	.logo_tit {display: none}
	
	.form1_search {width: 50px; padding: 5px 10px 5px 40px;}
}






@media (max-width: 1250px) {
	
	.content { width: 100%; }
	
}
    
    





@media (max-width: 1080px) {
	

	
	.cont_table {display: table; width: 100%;
	ul{display: table-row}
	li{display: block;}
	.left_cell {border-right: 0 #fff solid; width: 100%;}
	}
	
	.cont_left { position: relative; width:100%; padding: 0 25px;}

.cont_right { position: relative; width: 100%; overflow-y: hidden; overflow-x: hidden; padding: 0 25px;}
	
	.sticky {
  position: relative;
  top: auto;
  /* если ноль заменить на число (и в скрипте тоже), то блок будет прилипать до того, как верхний край окна браузера дойдёт до верхнего края элемента. Может быть отрицательным числом. Применим, например, при фиксированном сверху меню */
  bottom: auto; margin: auto;}
	
	
	.table1 {display: table; width: 100%;
	ul{display: table-row;}
	li{display: table-cell;}
	.thead li { font-size: 17px; font-weight: 100; color: #2A6BA2; background-color: #fff; background-image: none; vertical-align: middle; padding: 17px 10px}
	.table_act {font-weight: bold; background-color: #E1EFFA; background-image: none;}
}
	
	.ic_block {display: block}

	
	
}

