#wrapper { background-color: aliceblue;
 width: 80%;
 margin: 0 auto;
 padding-right: 243px;
}
#container { background-color: antiquewhite;
 position: relative;
 z-index: 10;
}

#fixed {
 position: fixed;
 top: 0;
 left: 0;
 width: 100%;
}
.fixed {
 position: relative;
 width: 40%;
 margin: 0 auto;
 top: 10px;
 left: 323px;
}